{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta http-equiv="Content-Type" content="text/html; charset=shift_jis" />
<title>松崎杯</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
</head>
<body>
<div id="wrapper">
<div id="header">
<h1>index</h1>
<p class="logo"><a href="/">松崎杯</a></p>
<p class="description">このサイトはDjango/Pythonで作成されています。</p>
</div>
<div id="globalnavi">
<ul>
  <li><a href="/">ホーム</a></li>
  <li><a href="/place">全成績検索</a></li>
  <li><a href="/next">次回開催日</a></li>
  <li><a href="/pairing">組合せ</a></li>
<//ul>
</div>
<div id="container">
<div id="contents">

<p class="topic-path"><a href="/">Home</a></p>

<h2>ホーム</h2>
<p>松崎杯および21会は、アイ・システム(株)のゴルフコンペです。

<h3>全試合検索</h3>
<ol>
<li>21会(前進SI会)
<p>開催日は、5月第3土曜日と11月第3土曜日の年2回開催されます。</p>
</li>
<li>松崎杯
<p>開催日は、毎月第3土曜日です。</p>
</li>
<li>番外編
<p>これまで1回のみ霞が関カンツリー倶楽部で開催されています。</p>
</li>
</ol>

<h3>次回開催日</h3>
<p>21会の場合は、1カ月前に開催日をお知らせします。</p>
<p>松崎杯の場合は、開催日の2週間前までに開催日の連絡があります。</p>
<p>開催日の1週間前の前日に参加者の確認を締め切ります。</p>

<h3>組合せ</h3>
<p>全試合ではありませんが、最近の組合せを保存しています。</p>

</div><!-- / contents end -->
</div><!-- / container end -->
<div id="footer">
<p>Copyright &copy; 松崎杯. All Rights Reserved.</p>
</div><!-- / footer end -->
</div><!-- / wrapper end -->
</body>
</html>
